/* Globals */

:root {
  --sidebar-width: 300px;
  --page-padding: 15px;
  --content-max-width: 750px;
  --menu-bar-height: 50px;
}

/* Themes */

.tentaportalen {
  --primary: hsl(160deg, 22%, 46%);
  --accent: hsl(357, 46%, 52%);
  --warning: #f77f00;
  --danger: hsl(357 46% 52%);

  --font: "Nunito";
  --font-heading: "Montserrat";

  --base-100: hsl(30, 6%, 94%);
  --base-200: hsl(30, 6%, 90%);
  --base-300: hsl(30, 6%, 86%);

  --text-hsl: 210deg 6% 15%;
  --text: hsl(var(--text-hsl));

  --bg: var(--base-100);
  --fg: var(--text);

  --code-bg: var(--base-200);

  --sidebar-bg: var(--base-200);
  --sidebar-fg: var(--text);
  --sidebar-non-existant: #aaaaaa;
  --sidebar-active: var(--accent);
  --sidebar-spacer: hsla(var(--text-hsl) / 0.1);

  --scrollbar: #8f8f8f;

  --icons: #747474;
  --icons-hover: #000000;

  --links: var(--primary);

  --inline-code-color: #301900;

  --theme-popup-bg: #fafafa;
  --theme-popup-border: #cccccc;
  --theme-hover: #e6e6e6;

  --quote-bg: var(--base-200);
  --quote-border: hsl(197, 37%, 91%);

  --table-border-color: hsl(0, 0%, 95%);
  --table-header-bg: hsl(0, 0%, 80%);
  --table-alternate-bg: hsl(0, 0%, 97%);

  --searchbar-border-color: #aaa;
  --searchbar-bg: #fafafa;
  --searchbar-fg: #000;
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: #666;
  --searchresults-border-color: #888;
  --searchresults-li-bg: #e4f2fe;
  --search-mark-bg: #a2cff5;
}

.light {
  --font: "Open Sans";
  --warning: hsl(32deg, 98%, 61%);
  --danger: hsl(357 46% 52%);

  --bg: hsl(0, 0%, 100%);
  --fg: hsl(0, 0%, 0%);

  --sidebar-bg: #fafafa;
  --sidebar-fg: hsl(0, 0%, 0%);
  --sidebar-non-existant: #aaaaaa;
  --sidebar-active: #1f1fff;
  --sidebar-spacer: #f4f4f4;

  --scrollbar: #8f8f8f;

  --icons: #747474;
  --icons-hover: #000000;

  --links: #20609f;

  --inline-code-color: #301900;

  --theme-popup-bg: #fafafa;
  --theme-popup-border: #cccccc;
  --theme-hover: #e6e6e6;

  --quote-bg: hsl(197, 37%, 96%);
  --quote-border: hsl(197, 37%, 91%);

  --table-border-color: hsl(0, 0%, 95%);
  --table-header-bg: hsl(0, 0%, 80%);
  --table-alternate-bg: hsl(0, 0%, 97%);

  --searchbar-border-color: #aaa;
  --searchbar-bg: #fafafa;
  --searchbar-fg: #000;
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: #666;
  --searchresults-border-color: #888;
  --searchresults-li-bg: #e4f2fe;
  --search-mark-bg: #a2cff5;
}

.navy {
  --font: "Open Sans";
  --warning: hsl(32deg, 98%, 61%);
  --danger: hsl(357 46% 52%);

  --bg: hsl(226, 23%, 11%);
  --fg: #bcbdd0;

  --sidebar-bg: #282d3f;
  --sidebar-fg: #c8c9db;
  --sidebar-non-existant: #505274;
  --sidebar-active: #2b79a2;
  --sidebar-spacer: #2d334f;

  --scrollbar: var(--sidebar-fg);

  --icons: #737480;
  --icons-hover: #b7b9cc;

  --links: #2b79a2;

  --inline-code-color: #c5c8c6;

  --theme-popup-bg: #161923;
  --theme-popup-border: #737480;
  --theme-hover: #282e40;

  --quote-bg: hsl(226, 15%, 17%);
  --quote-border: hsl(226, 15%, 22%);

  --table-border-color: hsl(226, 23%, 16%);
  --table-header-bg: hsl(226, 23%, 31%);
  --table-alternate-bg: hsl(226, 23%, 14%);

  --searchbar-border-color: #aaa;
  --searchbar-bg: #aeaec6;
  --searchbar-fg: #000;
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: #5f5f71;
  --searchresults-border-color: #5c5c68;
  --searchresults-li-bg: #242430;
  --search-mark-bg: #a2cff5;
}
@media (prefers-color-scheme: dark) {
  .light.no-js {
    --bg: hsl(200, 7%, 8%);
    --fg: #98a3ad;

    --sidebar-bg: #292c2f;
    --sidebar-fg: #a1adb8;
    --sidebar-non-existant: #505254;
    --sidebar-active: #3473ad;
    --sidebar-spacer: #393939;

    --scrollbar: var(--sidebar-fg);

    --icons: #43484d;
    --icons-hover: #b3c0cc;

    --links: #2b79a2;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #141617;
    --theme-popup-border: #43484d;
    --theme-hover: #1f2124;

    --quote-bg: hsl(234, 21%, 18%);
    --quote-border: hsl(234, 21%, 23%);

    --table-border-color: hsl(200, 7%, 13%);
    --table-header-bg: hsl(200, 7%, 28%);
    --table-alternate-bg: hsl(200, 7%, 11%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #b7b7b7;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #98a3ad;
    --searchresults-li-bg: #2b2b2f;
    --search-mark-bg: #355c7d;
  }
}
